<div class="container" [@routerTransition]>
  <div class="form-group">
      <div class="row justify-content-md-center">
        <div class="col-md-11">
          <div class="row">
            <div class="form-group">
              <h2><b>Form Staff</b></h2>
        </div>
      </div>
      
      <div class="row justify-content-md-center">
        <div class="col-md-11">
          
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="row">
              
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="col-form-label">Name</label>
                  </div>
                </div>                
                <div class="col-md-10">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" name="name" ngModel="{{ data.name }}">
                  </div>
                </div>
                
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="col-form-label">Username</label>
                  </div>
                </div>                
                <div class="col-md-10">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" ngModel="{{ data.username }}">
                  </div>
                </div>
                
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="col-form-label">Password</label>
                  </div>
                </div>                
                <div class="col-md-10">
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" ngModel="{{ data.password }}">
                  </div>
                </div>
                  
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="col-form-label">Type</label>
                  </div>
                </div>                            
                <div class="col-md-10">
                  <div class="form-group">
                    <select name="type" value="{{data.type}}"  ngModel="{{data.type}}" class="form-control input-underline input-lg">
                      <option value="0">Please select a service box.</option>
                      <option value="1">Admin</option>
                      <option value="2">Staff</option>
                    </select>
                  </div>
                </div>
                
                <div class="col-md-12 text-right">
                  <div class="form-group">
                      <input type="hidden" name="id" ngModel="{{ data.id }}">
                    <button type="submit" class="btn btn-success">
                      <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Save
                    </button>
                  </div>
                </div>

              </div>
            </form>
          </div>  
        </div>  
      </div>
    </div>  
  </div>
</div>