<div [@routerTransition]>
  <h2 class="text-muted">
    Staff
    <!-- <small>Statistics Overview</small> -->
  </h2>

  <div class="col-md-12 text-right">
    <a [routerLink]="['/staff/staff-form']" class="btn btn-primary" style="color: white">
      <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;New
    </a>
  </div>

  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Username</th>
          <th>Password</th>
          <th>type</th>
          <th>status</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of staff">
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.username}}</td>
          <td>{{data.password}}</td>
          <td>{{data.type}}</td>
          <td>{{data.status}}</td>
          <td>
            <a [routerLink]="['/staff/edit', data.id]" class="btn btn-warning" style="color: white">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </td>

          <td>
            <button type="button" (click)="setmageStatus(data.id)" class="btn btn-danger">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </tr>
      </tbody>
    </table>
  </div>