<div [@routerTransition]>

  <h2 class="text-muted">
    queue
    <small>Statistics Overview</small>
  </h2>

  <div class="row">
    <div class="col-md-10">
      <button class="btn btn-info btn-sm" (click)="setQueue()">กดคิว</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-info btn-sm" (click)="callQueue()">เรียกคิว</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>queue</th>
            <th>service box</th>
            <th>staff</th>
            <th>create</th>
            <th>call</th>
            <th>end</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of lists">
            <th>{{ list.id }}</th>
            <td>{{ list.queue }}</td>
            <td>{{ list.id_service_box }}</td>
            <td>{{ list.id_staff }}</td>
            <td>{{ list.create_time }}</td>
            <td>{{ list.call_time }}</td>
            <td>{{ list.end_time }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2 table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>คิว</th>
            <th>ช่องบริการ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let temp of temps">
            <th scope="row">{{ temp.queue }}</th>
            <td>{{ temp.id_service_box }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>