$topnav-background-color: #222;
.staffScreen-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    // background: $topnav-background-color;
    color: #004080;
    padding: 20px;
    text-shadow: 4px 4px 4px #f3f0f0;
    

    // .row {
    // }
    background-image: url(https://cdn.pixabay.com/photo/2018/02/13/14/07/background-3150835_960_720.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}
.row {
    padding: 5px
}

.txtNumber {
    font-size: 36pt;
}

h1{
    font-size: 60pt;

}
h2{
    font-size: 50pt;

}