<div class="staffScreen-page" [@routerTransition]>

        <div class="col-md-12">


            <div class="row">
                <div class="col-md-12 text-center">
                    <h2><b>ร้าน XXXXX</b></h2>
                </div>
            </div>


           
            
            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <strong>คิวของท่าน</strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <strong class="txtNumber" style="color: red"><h1>{{ queueFormat }}{{myQueue}}</h1></strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <strong>คิวปัจจุบัน</strong>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 text-center">
                    <strong class="txtNumber" style="color: red;"><h2>{{ queueFormat }}{{ temps }}</h2></strong>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12 text-center">
                        <strong><h3> {{ time }}</h3></strong>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-12 text-center">
                        <!-- <div calass="column" style="background-color:#B0E2FF "> -->
                    <p>เหลืออีก {{queueAmount}} คิว</p>
                  
                <!-- </div> -->
                                             
                </div>
            </div>
          
        </div>
    
</div>