<div [@routerTransition]>


  <h2 class="text-muted">
    settings
    <small>Statistics Overview</small>
  </h2>

  <!-- <a [routerLink]="['/settings/settingsForm']" class="btn btn-warning">
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </a> -->
  <!-- <a [routerLink]="['/settings/settingsForm']" class="btn btn-primary">เพิ่มข้อมูลใหม่</a> -->
<div class="paanel">
  <div class="panel-body">
    maha
  </div>
</div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">รูปแบบคิว</span>
        </div>
        <!-- <span class="input-group-addon">@</span> -->
        <input type="text" class="form-control" placeholder="Username" value="{{ queueFormat }}">
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-2">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">คิวปัจจุบัน</span>
        </div>
        <!-- <span class="input-group-addon">@</span> -->
        <input type="text" class="form-control" placeholder="Queue" value="{{ lastQueue }}">
      </div>
    </div>
    <div class="col-md-2 text-left">
      <button type="submit" class="btn btn-success">Reset</button>
    </div>
    <div class="col-md-2 text-right">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="checkbox">
        <label>
          <input type="checkbox" value=""> Logo
        </label>
      </div>
      <input type="text" class="form-control" placeholder="คิวที่ 00001" value="{{ lastQueue }}">
      <div class="checkbox">
        <label>
          <input type="checkbox" value=""> QR Code
        </label>
      </div>
      <input type="text" class="form-control" placeholder="Date Time" value="{{ lastQueue }}">
      <div class="checkbox">
        <label>
          <input type="checkbox" value=""> คิวที่รอ
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value=""> Footer
        </label>
      </div>
    </div>
  </div>

</div>