<div [@routerTransition]>


  <h2 class="text-muted">
    Settings
    <!-- <small>Statistics Overview</small> -->
  </h2>

  <br>

  <form #value="ngForm" (ngSubmit)="onSubmit(value)">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">รูปแบบคิว</span>
          </div>
          <input type="text" class="form-control" name="queueFormat" ngModel="{{ queueFormat }}">
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">คิวปัจจุบัน</span>
          </div>
          <input type="text" class="form-control" value="{{ lastQueue }}">
        </div>
      </div>
      <div class="col-md-1 text-right">
        <div class="form-group">
          <button type="submit" class="btn btn-warning" (click)="resetQueue()"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Reset</button>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <div class="form-group">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save
          </button>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4 text-right">
        <div class="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <label>
            Logo
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right"></div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="00001" name="queue" ngModel="{{ queueFormat }}{{ lastQueue }}" disabled>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right">
        <div class="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <label>
            QR Code
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right"></div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Date Time" name="dateTime" ngModel="{{ date }}.&nbsp;{{ time }}" disabled>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right">
        <div class="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <label>
            คิวที่รอ
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right">
        <div class="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <label>
            Footer
          </label>
        </div>
      </div>
    </div>
  </form>

</div>