<div class="Screen-page" [@routerTransition]>
    <h1 align = 'center'>ร้าน xxxxxx</h1><br>
    
  
    <div class="row" style="border: 2px solid rgb(0, 123, 255);">
        <img src="https://logojoy.com/">
      <div class="col-md-12">

            

 <div class="row">
                <div class="col-md-12 text-center">
                   <br> <strong><h1>กรุณากดบัตรคิว</h1></strong><br>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                   <br> <strong><h1><button>กดบัตรคิว</button></h1></strong><br>
                </div>
            </div>
            
            <br>
            <div class="row">
                <div class="col-md-12 text-center">
                   <br> <strong><h1>ขอบคุณที่ใช้บริการ</h1></strong><br>
                </div>
            </div>
           

          
            
           
            
           

        </div>
    </div>
</div>
<!-- <div class="userScreen-page" [@routerTransition]> -->
    <!-- <div class="row"> -->
      <!-- <div class="col-md-12"> -->
        <!-- <div class="table-responsive"><br> -->
           
          <!-- <table class="table table-bordered"> -->
            <!-- <thead> -->
              <!-- <tr> -->
                <!-- <th width="70%" colspan="2" class="text-right"> -->
                    <!-- <h1 align = 'center'>กรุณากดบัตรคิว</h1> -->
                <!-- </th> -->
              <!-- </tr> -->
            <!-- </thead> -->
            <!-- <tbody> -->
              <!-- <tr> -->
                <!-- <th><h1><button>กดบัตรคิว</button></h1></th> -->
              
              <!-- </tr> -->
             
            <!-- </tbody> -->
          <!-- </table><br> -->
      
            
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->