<div class="Screen-page" [@routerTransition]>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>
          <b>ร้าน xxxxxx</b>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <strong>เวลา {{ time }}</strong>
      </div>
    </div>
  </div>

  <br>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>
          <b>กรุณากดบัตรคิว</b>
        </h3>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn rounded-btn" (click)="createQueue()">
          คิวต่อไป : {{ queueFormat }}{{ nextQueue }}
          <br> กดบัตรคิว
        </button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>
          <b>ขอบคุณที่ใช้บริการ</b>
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>คิวปัจจุบัน : {{ queueFormat }}{{ currentQueue }} </h1>
     
    </div>
     </div>
</div>
