<link href="https://fonts.googleapis.com/css?family=Kanit:300i" rel="stylesheet">
<div class="userScreen3-page" [@routerTransition]>
    <div class="card-header">
        <div width="70%" colspan="2" class="text-right">
            {{ date }}. {{ time }}
        </div> 
    </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="row">หมายเลข</th>
                <th>ช่องบริการ</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let temp of temps">
                <th scope="row">{{ queueFormat }}{{ temp.queue }}</th>
                <th>{{ temp.name }}</th>

            </tr>
            </tbody>
        </table>

  </div>
