<div class="userScreen3-page" id="full-size" [@routerTransition]>
    <div class="card-header">
        <div width="70%" colspan="2" class="text-right">
            {{ date }}. {{ time }}
        </div> 
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="row">หมายเลข</th>
                <th>ช่องบริการ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let temp of temps">
                <td scope="row">{{ queueFormat }}{{ temp.queue }}</td>
                <td>{{ temp.name }}</td>
            </tr>
        </tbody>
    </table>
</div>