.userScreen3-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    text-align: center;
    padding: 50px;
    background-color:#A6E3E9;
    background-size: cover;
}

.card-header{
    background-color: #fff;
    border-radius: 15px;
    font-size: 32pt ;
}

table {
    background-color: #fff;
    border-color: #A6E3E9;
    border-radius: 15px;
    font-size: 38pt;
}

th {
    border-color: #A6E3E9;
}
// th{
//     background-color: white;
//     text-align: center;
//     font-size: 60px;
//     color: #000000 ;
// }