$topnav-background-color: #222;
.userScreen3-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
   
    // background: $topnav-background-color;
    text-align: center;
    // color: #fff;
    padding: 50px;
    background-color:#7BE1FF;
    background-size: cover;

    
    

}
th{
    
    text-align: center;
    font-size: 60px;
    font-family: 'Kanit', sans-serif;
    color: #000000 ;
}
.card-header{
    font-size: 45px ;
    color: rgb(0, 0, 0) ;
}


