<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
<div class="Screen2-page" [@routerTransition]>
        <br><br>       <br>
    
                            <h1 align='center'>QUEUE</h1><br>
                  
       
                            <div calass= "column" style="background-color: rgb(106, 216, 250);  ">
                        <div class="card-body">
                                <h1 align='center'>ยินดีต้อนรับ</h1><br>
                                <!-- <div  style="background-color:rgb(32, 141, 243)  "></div> -->
                                <div class="row">
                                        <div class="col-xl-8 text-xs-center">
                                            <div class="card mb-3">
                                                   
                            <div calass= "column" style="background-color: rgb(126, 220, 248);  ">
                                                <div class="card-body">
                                                        <div class="card mb-3">
                                                            
                                                             <div calass= "column" style="background-color: rgb(106, 216, 250);  ">
                                                                <div class="card-body">
                                                                        <h1 align='center'>ร้าน xxxx</h1><br><br>
                                                                        <h2 align='center'>กรุณากดบัตรคิว</h2><br>
                                                                        
                                                                        <div class="form-group">
                                                                                <div class="row">
                                                                                  <div class="col-md-12 text-center">
                                                                                      <button class="btn rounded-btn" (click)="createQueue()">กดบัตรคิว</button>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                        
                                                                        
                                                                </div>    </div>
                                                            </div>
                                                        
                                               
                                                </div>         </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 text-xs-center">
                                            <div  class="card mb-3">
                                                    <div calass= "column" style="background-color: rgb(126, 220, 248);  ">
                                                <div class="card-body" >
                                                        <h1 align='center'> {{date}}<br> <br>{{time}}</h1>
                                                        <br><br> <h2 align='center'>ขอบคุณที่ใช้บริการ</h2>
                                                </div> </div>
                                            </div>
                                        </div>
                                        
                                    </div>




                            
                        
                        </div>        </div>
                    </div>