
.userScreen2-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #A6E3E9 ;
}


th{
    font-size: 40px;


}
h1{
    font-size:60px;
}

.colorgird{
    background-color: #fff;    
    border-radius: 15px;
}

.border-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.border-bottom{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
