
$topnav-background-color: #222;
.userScreen2-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    // background: $topnav-background-color;
    text-align: center;
    // color: #fff;
    padding: 20px;
    font-size: 30px;
    font-family: 'Itim', cursive;
    background-color: #7aa5d2
    

}
th{
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
}
h1{
    font-size:60px;
    font-family: 'Kanit', sans-serif;    
}

.colorgird{
    background-color: #fff;
    color: #47555e;
    
}