<div class="userScreen2-page" [@routerTransition]>
    <div class="row">

        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3 border-top">
                <div class="card-body colorgird">
                    <h1>ร้าน xxx</h1>
                    <div width="70%" colspan="2" class="text-right">
                        {{ date }}. {{ time }}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-5 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">

                    <div class="col-md-12">
                        <table class="card-body table table-hover">

                            <tr>
                                <th scope="row">หมายเลข</th>
                                <th>ช่องบริการ</th>
                            </tr>
                            <tr *ngFor="let temp of temps">
                                <th scope="row">{{ queueFormat }}{{ temp.queue }}</th>
                                <th>{{ temp.name }}</th>
                            </tr>

                        </table>
                    </div>




                </div>
            </div>
        </div>
        <div class="col-xl-7 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">

                    <iframe width="640" height="360" src="https://www.youtube.com/embed/rtcTrU1ka2s" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3 border-bottom">
                <div class="card-body">

                    <marquee scrollamount="5" >สวัสดีครับบบบบบบบบบบบบบ</marquee>
                </div>
            </div>
        </div>
    </div>
<script>
function printMe()
{
window.print();
window.onfocus=function(){ window.close();}
}
</script>
<input type="button" value="Print" onclick="printMe()">    

</div>