<div [@routerTransition]>

<h2 class="text-muted">

   Dashboard
    <!-- <small>Servicebox Overview</small> -->
  </h2>
<!-- 
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]=todo.count ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]=></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]=todo.count ></app-stat>
        </div>
    </div> -->
    <div class="row">

        <div class="col-md-3">
            <div class="card text-white bg-info">
                <div class="card-header">
                        <table class="table-bordered text-center" width="100%;">
                                <thead>
                                  <tr>
                                    <th>คิวที่</th>
                                    <th>ช่องที่</th>
                                  </tr>
                                </thead>
                                <tbody *ngFor="let value of data">
                                  <tr>
                                    <td>{{value.queue}}</td>
                                    <td>{{value.id_service_box}}</td>
                                  </tr>
                                </tbody>
                        </table>

                </div>
                <div class="card-footer">
                    <span class="float-left"><b>คิวปัจจุบัน</b> </span>
                    <a href="javascript:void(0)" class="float-right card-inverse">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-danger">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-9 text-right">
                            <div class="d-block huge"></div>
                            <div class="row">
                                &nbsp;&nbsp;&nbsp;เหลือคิวอยู่&nbsp; {{todo.count}} &nbsp;คิว
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <span class="float-left"><b>เหลือคิวค้าง</b> </span>
                    <a href="javascript:void(0)" class="float-right card-inverse">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        <div class="row">

                            <div class="col col-xs-9 text-right">
                                <div class="d-block huge"></div>
                                <div class="row">
                                        &nbsp;&nbsp;&nbsp;คิวทั้งหมด&nbsp;{{count_list.count_list_today}}&nbsp;คิว
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-left"><b>คิวทั้งหมดวันนี้</b> </span>
                        <a href="javascript:void(0)" class="float-right card-inverse">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                    <div class="card text-white bg-success">
                        <div class="card-header">
                            <div class="row">
                                <div class="col col-xs-9 text-right">
                                    <div class="d-block huge"></div>
                                    <div class="row">
                                            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <span class="float-left"><b> เจ้าหน้าที่ที่ล็อกอิน</b> </span>
                            <a href="javascript:void(0)" class="float-right card-inverse">
                            </a>
                        </div>
                    </div>
                </div>

    </div>


</div>