<div [@routerTransition]>


<h2 class="text-muted">

   Dashboard2
    <!-- <small>Servicebox Overview</small> -->
  </h2>

    <!-- <div class="row">
        <div class="col-xl-3 col-lg-6">

        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]=todo.count></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div>
    </div> -->

<div id="page-wrapper">
            <div class="row">
               

            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">

                                <div class="col-xs-9 text-right">
                                    <div class="huge">คิวปัจจุบัน</div>
                                    <div class="row">
                                        <div class="col-md-4">id</div>
                                        <div class="col-md-4">queue</div>
                                        <div class="col-md-4">chanel</div>
                                    </div>
                                    <div class="row" *ngFor="let value of data">
                                        <div class="col-md-4">{{value.id}}</div>
                                        <div class="col-md-4">{{value.queue}}</div>
                                        <div class="col-md-4">{{value.id_service_box}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">

                                <div class="col-xs-9 text-right">
                                    <div class="huge">เหลือคิวค้าง</div>
                                    <div class="row">
                                       &nbsp;&nbsp;&nbsp;เหลือคิวอยู่&nbsp; {{todo.count}} &nbsp;คิว
                                    </div>

                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
 
                                <div class="col-xs-9 text-right">
                                    <div class="huge">คิวทั้งหมดวันนี้</div>
                                    <div class="row">
                                       &nbsp;&nbsp;&nbsp;คิวทั้งหมด&nbsp; {{todo.count}} &nbsp;คิว
                                    </div>

                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">

                                <div class="col-xs-9 text-right">
                                    <div class="huge">เจ้าหน้าที่</div>
                                    <div class="row">
                                       &nbsp;&nbsp;&nbsp;คิวทั้งหมด&nbsp; {{todo.count}} &nbsp;คิว
                                    </div>

                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
         
  
  </div>
</div>