
<div class="Screen1-page" [@routerTransition]>
   
          <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <br><br><div class="row">
            <div class="col-xl-12 text-xs-center">
                <div class="card mb-3">
                    <div class="card-body">
                            <h1 align='center'>ร้าน xxxx</h1><br>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
                <div class="col-xl-8 text-xs-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h1 align='center'>กรุณากดบัตรคิว</h1><br>
            <h1 align='center'>วันที่ {{date}}</h1><br>
            <h1 align='center'>เวลา {{ time }}</h1><br>
              <h1 align='center'>  <a href="javascript:void(0)" class="btn btn-primary btn-lg" role="button"><h1>รับบัตรคิว</h1></a></h1>
  
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 text-xs-center">
                    <div class="card mb-3">
                        <div class="card-body">
                                <iframe width="425" height="315" src="https://www.youtube.com/embed/khITxbTEuZI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-xl-12 text-xs-center">
                        <div class="card mb-3">
                            <div class="card-body">
                                    <!-- <marquee behavior="alternate"><h1>ขอบคุณที่ใช้บริการ  โทร.086-xxxxxxx</h1></marquee> -->
                                    <marquee scrollamount="10"><h3> ขอบคุณที่ใช้บริการ  โทร.086-xxxxxxx</h3>  </marquee>    
                                    <marquee scrollamount="100"><h3><button>กด</button> </h3>  </marquee>   
                            </div>
                        </div>
                    </div>
                </div>
    
  
