$topnav-background-color: #7BE1FF;
.Screen1-page {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    padding: 20px;
    // .row {
    // }
    background-color: #7BE1FF 
}
.column {
    float: left;
    width: 50%;
    padding: 5px;
    height: 600px; 
}


.txtNumber {
    font-size: 36pt;
}
.rounded-btn:active {
    color: #F8F8F8;
    background: rgb(114, 112, 224);
    border: 8px solid rgb(83, 80, 230);
}
.rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 130px;
    color: #F8F8F8;
    background: rgb(112, 110, 228);
    border: 8px solid rgb(93, 91, 224);
    font-size: 32px;
    padding: 50px 50
    px;
}
