<div [@routerTransition]>
  <form #value="ngForm" (ngSubmit)="onSubmit(value)">

    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
    </p>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h2 class="text-muted">
              User Screen
            </h2>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-1 col-1 text-right">
                <label class="container">
                  <input type="radio" id="userScreen1" name="userScreen" ngModel="{{ userScreen }}" value="userScreen">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-md-11 col-10 text-center">
                <div class="form-group">
                  <label for="userScreen1">
                    <img src="assets/images/userScreen1.jpg" width="100%">
                  </label>
                </div>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-1 col-1 text-right">
                <label class="container">
                  <input type="radio" id="userScreen2" name="userScreen" ngModel="{{ userScreen }}" value="userScreen2">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-md-11 col-10 text-center">
                <div class="form-group">
                  <label for="userScreen2">
                    <img src="assets/images/userScreen2.jpg" width="100%">
                  </label>
                </div>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-1 col-1 text-right">
                <label class="container">
                  <input type="radio" id="userScreen3" name="userScreen" ngModel="{{ userScreen }}" value="userScreen3">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-md-11 col-10 text-center">
                <div class="form-group">
                  <label for="userScreen3">
                    <img src="assets/images/userScreen3.jpg" width="100%">
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-right">
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-lg">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h2 class="text-muted">
              Push Queue Screen
            </h2>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-1 col-1 text-right">
                <label class="container">
                  <input type="radio" id="pushQueueScreen1" name="pushQueueScreen" ngModel="{{ pushQueueScreen }}" value="Screen">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-md-11 col-10 text-center">
                <div class="form-group">
                  <label for="pushQueueScreen1">
                    <img src="assets/images/Screen1.jpg" width="100%">
                  </label>
                </div>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-1 col-1 text-right">
                <label class="container">
                  <input type="radio" id="pushQueueScreen2" name="pushQueueScreen" ngModel="{{ pushQueueScreen }}" value="Screen1">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-md-11 col-10 text-center">
                <div class="form-group">
                  <label for="pushQueueScreen2">
                    <img src="assets/images/Screen2.jpg" width="100%">
                  </label>
                </div>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-1 col-1 text-right">
                <label class="container">
                  <input type="radio" id="pushQueueScreen3" name="pushQueueScreen" ngModel="{{ pushQueueScreen }}" value="Screen2">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-md-11 col-10 text-center">
                <div class="form-group">
                  <label for="pushQueueScreen3">
                    <img src="assets/images/Screen3.jpg" width="100%">
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-right">
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-lg">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </form>
</div>