<div [@routerTransition]>
  <h2 class="text-muted">
   Servicebox
    <!-- <small>Servicebox Overview</small> -->
  </h2>

  <div class="card-body table-responsive table-hover" >
      <div class="col-sm-12 col-md-12 text-right">
          <a [routerLink]="['/servicebox/servicebox-form']" class="btn btn-primary">New</a>
          
      </div>
        <br>
      <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>edit</th>
          <!-- <th>status</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of data">
          <td>{{value.id}}</td>
          <td>{{value.name}}</td>
          <!-- <td>{{value.status}}</td> -->
          <td>
              <a  [routerLink]="['/servicebox/servicebox-form', value.id]" class="btn btn-warning">edit</a>
          </td> 
          <!-- <td><button type="button" class="btn btn-sm btn-success">on</button>  -->
        </tr>
      </tbody>
    </table>
  </div>
</div>