<div class="userScreen-page" [@routerTransition]>
  <div class="row">
    <div class="col-md-12">



      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12 text-center" style="font-weight: bold">
              {{ date }}. {{ time }}
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="row">หมายเลข</th>
                  <th>ช่องที่</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let temp of temps">
                  <td scope="row">{{ queueFormat }}{{ temp.queue }}</td>
                  <td>{{ temp.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>