<<<<<<< HEAD
$topnav-background-color: #A6E3E9;
=======
$topnav-background-color: #7BE1FF;
>>>>>>> ba8be6fd4c9214dacb0ff9946998b86b620ec83f
.userScreen-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    // color: #fff;
    padding: 20px;
    .table, th, td {
        border: 2px solid rgb(0, 123, 255);
    }
}