<div [@routerTransition]>


  <h2 class="text-muted">
    Show Settings
    <!-- <small>Statistics Overview</small> -->
  </h2>

  <br>

  <form #value="ngForm" (ngSubmit)="onSubmit(value)">
    <div class="row">
      <div class="col-md-4 text-right"></div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <label>
            {{ logo }}
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right"></div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          Ex. 00001
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right"></div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <label>
            {{ QR }}
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right"></div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          Ex. 24/04/18. 10:30:12
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right"></div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <label>
            {{ wait }}
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right"></div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <label>
            {{ footer }}
          </label>
        </div>
      </div>
    </div>
  </form>

</div>