$topnav-background-color: #222;
.queue-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    // background: $topnav-background-color;
    // color: #fff;
    padding: 5px 25px 20px 20px;
    // .row {
    // }
}

.txtNumber {
    font-size: 32pt;
}